<% layout ('layouts/boilerplate') %> 
   <div class="container">
        <h3>Details About A Task</h3>
    <p>Task Name: <b><%= task.name %></b></p>
        <ul> 
            <li>Category: <a href="/tasks?category=<%= task.category %>"><%= task.category %> </a></li>
            <li><%= task.description %></li>
        </ul>
       <div class="btn-group" role="group">
        <a class="btn btn-info" href="/tasks">All Tasks</a>
        <a class="btn btn-primary" href="/tasks/<%= task._id %>/edit">Edit Task</a>
        <form action="/tasks/<%=task._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger ml-0">Delete</button>
       </div>
    </form>
   </div>